/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
:root {
  --main-color: #D10024;
  --main-background-color: #1E1F29;
  --second-background-color: #15161D;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
::selection {
  color: white;
  background: var(--main-color);;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #1E1F29;
}
::-webkit-scrollbar-thumb {
  background: #D10024;
}
/* End Global Rules */

/* Start Header */
.header .top-header {
  background-color: var(--main-background-color);
}
.header .top-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  .header .top-header .container {
    display: block;
  }
}
.header .top-header .container ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .top-header .container ul li a {
  color: #FFF;
  font-size: 12px;
  transition: .2s;
}
.header .top-header .container ul li a:hover {
  color: var(--main-color);
}
.header .top-header .container ul li a i {
  color: var(--main-color);
}
.header .main-header {
  background-color: var(--second-background-color);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--main-color);
}
.header .main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}
@media (max-width: 992px) {
  .header .main-header .container {
    justify-content: center;
    flex-direction: column;
  }
}
.header .main-header .container .logo a h2 {
  color: white;
  font-weight: 700;
  font-size: 40px;
}
.header .main-header .container .logo a h2 span {
  color: var(--main-color);
}
.header .main-header .container .search {
  display: flex;
  align-items: center;
}
.header .main-header .container .search select {
  border: 2px solid #E4E7ED;
  border-right: 1px solid #E4E7ED;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 40px;
  padding: 0 15px;
  color: rgb(107, 107, 107);
}
.header .main-header .container .search input {
  width: 300px;
  height: 40px;
  padding: 0 15px;
  border: 2px solid #E4E7ED;
  border-left: 1px solid #E4E7ED;
}
@media (max-width: 992px) {
  .header .main-header .container .search {
    width: 100%;
  }
  .header .main-header .container .search input {
    width: 100%;
  }
}
.header .main-header .container .search button {
  background-color: var(--main-color);
  color: white;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 40px;
  font-weight: bold;
  padding: 0 25px;
  border: none;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header .main-header .container .cart-side {
    align-self: flex-end;
  }
}
.header .main-header .container .cart-side ul{
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1200px) {
  .header .main-header .container .cart-side ul {
    gap: 0;
  }
}
@media (max-width: 992px) {
  .header .main-header .container .cart-side ul {
    gap: 50px;
  }
}
.header .main-header .container .cart-side ul li a {
  color: white;
  position: relative;
}
.header .main-header .container .cart-side ul li a span {
  position: absolute;
  right: 20px;
  top: -10px;
  background-color: var(--main-color);
  border-radius: 50%;
  width: 20px;
  text-align: center;
  font-size: 12px;
}
@media (max-width: 1200px) {
  .header .main-header .container .cart-side ul li.cart-icon {
    margin-left: 18px;
  }
}
@media (max-width: 992px) {
  .header .main-header .container .cart-side ul li.cart-icon {
    margin-left: 0;
  }
}
.header .main-header .container .cart-side ul li.cart-icon a span {
  right: 7px;
}
.header .main-header .container .cart-side ul li a i {
  display: block;
  text-align: center;
}
.header .main-header .container .cart-side ul li a h6 {
  font-size: 13px;
  font-weight: 400;
  margin-top: 5px;
}
.header .main-header .container ul li.menu a {
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .header .main-header .container ul li.menu a {
    display: block;
  }
}
.header .main-header .container ul li.menu a i {
  font-size: 20px;
}
.header .main-header .container ul li.menu a p {
  font-size: 13px;
}
/* Cart Start */
.header .main-header .container .cart {
  background-color: white;
  position: absolute;
  right: 0;
  top: -100%;
  width: 300px;
  z-index: 111111111111;
  border: 2px solid #E4E7ED;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
}
.header .main-header .container .cart .close {
  position: absolute;
  right: 14px;
  top: 6px;
  cursor: pointer;
  transition: .2s;
  font-size: 17px;
}
.header .main-header .container .cart .close:hover {
  color: var(--main-color);
}
.header .main-header .container .cart .cart-products {
  overflow-y: scroll;
  margin-top: 15px;
}
.header .main-header .container .cart .cart-products .cart-box {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  position: relative;
}
.header .main-header .container .cart .cart-products .cart-box .remove-icon i {
  background-color: #15161D;
  color: white;
  padding: 2px 4px;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
}
.header .main-header .container .cart .cart-products .cart-box img {
  width: 70px;
}
.header .main-header .container .cart .cart-products .cart-box .details h4 {
  font-size: 12px;
  max-width: 150px;
  cursor: pointer;
  transition: .3s;
}
.header .main-header .container .cart .cart-products .cart-box .details h4:hover {
  color: var(--main-color);
}
.header .main-header .container .cart .cart-products .cart-box .details .quantity {
  width: 32px;
  text-align: center;
  color: #333;
  height: 25px;
  border: 2px solid var(--main-color);
  font-size: 11px;
}
.header .main-header .container .cart .cart-products .cart-box .details .quantity:focus {
  outline: none;
}
.header .main-header .container .cart .cart-products .cart-box .details span.cart-price {
  font-weight: bold;
  font-size: 14px;
}
.header .main-header .container .cart .cart-subtotal {
  border-top: 1px solid #E4E7ED;
  padding-top: 20px;
  margin-top: 10px;
}
.header .main-header .container .cart .cart-subtotal .selected-span {
  font-size: 12px;
}
.header .main-header .container .cart .cart-subtotal .subtotal {
  margin-top: -5px;
}
.header .main-header .container .cart .cart-subtotal .subtotal span {
  font-weight: bold;
}
.header .main-header .container .cart .cart-buttons {
  position: absolute;
  top: 100%;
  left: -2px;
  display: flex;
  width: calc(100% + 4px);
}
.header .main-header .container .cart .cart-buttons button {
  width: 50%;
  height: 40px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
}
.header .main-header .container .cart .cart-buttons button:first-child {
  background-color: var(--main-background-color);
}
.header .main-header .container .cart .cart-buttons button:first-child:hover {
  background-color: #2d2e3c;
}
.header .main-header .container .cart .cart-buttons button:last-child {
  background-color: var(--main-color);
}
.header .main-header .container .cart .cart-buttons button:last-child:hover {
  background-color: rgb(238, 34, 68);
}
/* Cart End */
.header .main-header .menu-list {
  background-color: var(--second-background-color);
  position: fixed;
  left: -100%;
  height: 100%;
  top: 0;
  width: 250px;
  padding: 80px 15px;
  transition: .5s;
  z-index: 111111111111;
}
.header .main-header .menu-list.active {
  transition: .3s;
  left: 0;
}
.header .main-header .menu-list ul li {
  margin-bottom: 30px;
  transition: .2s;
  position: relative;
  cursor: pointer;
}
.header .main-header .menu-list ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  bottom: 0;
  transition: .2s;
}
.header .main-header .menu-list ul li:hover::before {
  width: 100%;
}
.header .main-header .menu-list ul li a {
  color: white;
  transition: .3s;
}
.header .main-header .menu-list ul li:hover a {
  color: var(--main-color);
}
.header .main-header .menu-list ul li.li-active {
  border-bottom: 2px solid var(--main-color);
}
.header .main-header .menu-list ul li.li-active a {
  color: var(--main-color);
}
/* End Header */

/* Start Section */
section .top-section-lists {
  padding: 20px 0;
  border-bottom: 2px solid #E4E7ED;
}
@media (max-width: 992px) {
  section .top-section-lists {
    display: none;
  }
}
section .top-section-lists .container ul {
  display: flex;
  gap: 30px;
}
section .top-section-lists .container ul li a {
  transition: .2s;
  cursor: pointer;
  color: #15161D;
  position: relative;
  padding-bottom: 2px;
}
section .top-section-lists .container ul li a:hover {
  color: var(--main-color);
}
section .top-section-lists .container ul li a.active {
  color: var(--main-color);
}
section .top-section-lists .container ul li:first-child a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  bottom: 0;
}
section .top-section-lists .container ul li:not(:first-child) a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  bottom: 0;
  transition: .2s;
}
section .top-section-lists .container ul li:not(:first-child) a:hover::before {
  width: 100%;
}
section .collections {
  margin: 50px 0;
}
section .collections .container {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 767px) {
  section .collections .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
section .collections .container .collection-box {
  width: 350px;
  background-color: rgb(233, 233, 233);
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  section .collections .container .collection-box {
    width: 80%;
  }
}
section .collections .container .collection-box:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 60%;
  background: #D10024;
  opacity: 0.9;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
  z-index: 10;
}
section .collections .container .collection-box:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  width: 100%;
  background: #D10024;
  opacity: 0.9;
  -webkit-transform: skewX(-45deg) translateX(-100%);
  -ms-transform: skewX(-45deg) translateX(-100%);
  transform: skewX(-45deg) translateX(-100%);
}
section .collections .container .collection-box .img img {
  width: 100%;
  transition: .2s;
  transform: translate(6px, 6px);
}
section .collections .container .collection-box:hover .img img {
  transform: translate(10px, 10px);
}
section .collections .container .collection-box .box-content {
  padding: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 11;
}
section .collections .container .collection-box .box-content h4 {
  color: white;
  font-size: 25px;
  max-width: 200px;
}
section .collections .container .collection-box .box-content a {
  color: white;
  font-size: 16px;
}
section .products .container .products-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  section .products .container .products-head {
    display: block;
    text-align: center;
  }
}
section .products .container .products-head .products-head-title h3 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
@media (max-width: 767px) {
  section .products .container .products-head .products-head-title h3 {
    margin-bottom: 15px;
  }
}
section .products .container .products-head .products-head-list ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
section .products .container .products-head .products-head-list ul li {
  position: relative;
}
@media (max-width: 767px) {
  section .products .container .products-head ul {
    justify-content: center;
  }
}
section .products .container .products-head .products-head-list ul li a {
  cursor: pointer;
  transition: .2s;
}
section .products .container .products-head .products-head-list ul li a:hover {
  color: var(--main-color);
}
section .products .container .products-head .products-head-list ul li:first-child a {
  color: var(--main-color);
}
section .products .container ul li:first-child a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  bottom: 0;
}
section .products .container ul li:not(:first-child) a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  bottom: 0;
  transition: .2s;
}
section .products .container ul li:not(:first-child) a:hover::before {
  width: 100%;
}
section .products .container .products-boxes {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}
@media (max-width: 992px) {
  section .products .container .products-boxes {
    flex-wrap: wrap;
    justify-content: center;
  }
}
section .products .container .products-boxes .products-box {
  border: 1px solid #E4E7ED;
  transition: .2s;
  border-radius: 3px;
  width: 300px;
  text-align: center;
  position: relative;
  cursor: default;
  padding: 15px;
}
@media (max-width: 657px) {
  section .products .container .products-boxes .products-box {
    width: 80%;
  }
}
section .products .container .products-boxes .products-box:hover {
  border-color: var(--main-color);
  box-shadow: rgb(209, 0, 36) 0px 1px 3px;
}
section .products .container .products-boxes .products-box .discounts {
  position: absolute;
  right: 15px;
  top: 10px;
}
section .products .container .products-boxes .products-box .discounts span:first-of-type {
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 0 10px;
  font-size: 14px;
}
section .products .container .products-boxes .products-box .discounts span:last-of-type {
  background-color: var(--main-color);
  color: white;
  padding: 2px 15px;
  font-size: 14px;
}
section .products .container .products-boxes .products-box .img img {
  width: 100%;
}
section .products .container .products-boxes .products-box .details span.category {
  color: #8D99AE;
}
section .products .container .products-boxes .products-box .details h4 {
  cursor: pointer;
  transition: .2s;
}
section .products .container .products-boxes .products-box .details h4:hover {
  color: var(--main-color);
}
section .products .container .products-boxes .products-box .details .product-price .new-price {
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
}
section .products .container .products-boxes .products-box .details .product-price .pre-price {
  color: #8D99AE;
  text-decoration: line-through;
  font-weight: 400;
  font-size: 14px;
}
section .products .container .products-boxes .products-box .details .rating {
  display: flex;
  height: 2px;
  background-color: #E4E7ED;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
section .products .container .products-boxes .products-box .details .rating i {
  cursor: pointer;
  color: var(--main-color);
  font-size: 13px;
}
section .products .container .products-boxes .products-box .options {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
section .products .container .products-boxes .products-box .options i {
  cursor: pointer;
  transition: .2s;
}
section .products .container .products-boxes .products-box .options i:hover {
  color: var(--main-color);
}
section .products .container .products-boxes .products-box .add-to-cart {
  background-color: var(--main-background-color);
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  padding: 12px 0;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
  z-index: 111111111111111;
}
section .products .container .products-boxes .products-box:hover .add-to-cart {
  top: 100%;
  visibility: visible;
  opacity: 1;
}
section .products .container .products-boxes .products-box .add-to-cart button {
  border-radius: 20px;
  border: none;
  background-color: var(--main-color);
  color: white;
  transition: .2s;
  padding: 8px 25px;
  cursor: pointer;
  text-align: center;
  border: 2px solid var(--main-color);
  font-weight: 700;
}
section .products .container .products-boxes .products-box .add-to-cart button:hover {
  background-color: white;
  color: var(--main-color);
}
section .products .container .products-boxes .products-box .add-to-cart button i {
  color: var(--main-color);
  margin-right: -15px;
  transition: .2s;
}
section .products .container .products-boxes .products-box .add-to-cart button:hover i {
  margin-right: 15px;
  color: var(--main-color);
}
section .selling {
  padding-bottom: 20px;
  margin-top: 50px;
  border-bottom: 2px solid #E4E7ED;
}
section .selling .title h3 {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  section .selling .title h3 {
    text-align: center;
    margin-bottom: 40px;
  }
}
section .selling .selling-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  section .selling .selling-boxes {
    justify-content: center;
  }
}
section .selling .selling-boxes .selling-box {
  width: 350px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  section .selling .selling-boxes .selling-box {
    width: 70%;
    display: block;
    text-align: center;
    margin-bottom: 35px;
    border: 1px solid #E4E7ED;
    border-radius: 20px;
    padding: 10px;
    transition: .2s;
  }
  section .selling .selling-boxes .selling-box:hover {
    border-color: var(--main-color);
    box-shadow: rgb(209, 0, 36) 0px 1px 5px;
  }
}
section .selling .selling-boxes .selling-box .rating {
  text-align: center;
  display: none;
}
@media (max-width: 767px) {
  section .selling .selling-boxes .selling-box .rating {
    display: block;
    font-size: 13px;
    color: var(--main-color);
    cursor: pointer;
  }
}
section .selling .selling-boxes .selling-box img {
  width: 150px;
}
@media (max-width: 767px) {
  section .selling .selling-boxes .selling-box img {
    width: 50%;
  }
}
section .selling .selling-boxes .selling-box .details span.cate {
  color: #8D99AE;
  font-size: 13px;
}
section .selling .selling-boxes .selling-box .details h4 {
  cursor: pointer;
  transition: .2s;
}
section .selling .selling-boxes .selling-box .details h4:hover {
  color: var(--main-color);
}
section .selling .selling-boxes .selling-box .details .price .new-price {
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
}
section .selling .selling-boxes .selling-box .details .price .pre-price {
  color: #8D99AE;
  font-size: 13px;
  text-decoration: line-through;
}
section .newsletter {
  text-align: center;
  padding: 40px 0;
  color: #333;
}
section .newsletter .container {
  position: relative;
}
section .newsletter .container::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  z-index: -1;
  color: rgb(226, 226, 226);
  font-size: 170px;
  transform: rotate(15deg);
  position: absolute;
  left: 20%;
}
section .newsletter .container h3 {
  font-weight: 400;
  font-size: 27px;
  margin-bottom: 20px;
}
section .newsletter .container h3 span {
  font-weight: bold;
}
section .newsletter .container form {
  display: flex;
  align-items: center;
  justify-content: center;
}
section .newsletter .container form {
  margin-bottom: 20px;
}
section .newsletter .container form input {
  width: 380px;
  border: 1px solid #E4E7ED;
  border-right: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 10px 15px;
  font-size: 15px;
  height: 40px;
}
section .newsletter .container form input:focus {
  outline: none;
}
section .newsletter .container form button {
  border: none;
  color: white;
  background-color: var(--main-color);
  cursor: pointer;
  height: 40px;
  padding: 10px 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: bold;
}
section .newsletter .container .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
section .newsletter .container .social-media .media {
  border: 1px solid #E4E7ED;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  transition: .2s;
}
section .newsletter .container .social-media .media:hover {
  background-color: #E4E7ED;
}
section .newsletter .container .social-media .media:hover i {
  color: var(--main-color);
}
section .newsletter .container .social-media i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Section */

/* Start Top Footer */
.top-footer {
  background-color: var(--second-background-color);
  border-top: 3px solid var(--main-color);
  padding: 50px 0;
}
.top-footer .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .top-footer .container {
    text-align: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media (max-width: 753px) {
  .top-footer .container {
    justify-content: center;
    text-align: center;
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .top-footer .container .column {
    width: 300px;
  }
}
.top-footer .container .column h3 {
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
}
.top-footer .container .column p {
  color: #B9BABC;
  font-size: 15px;
  margin-bottom: 20px;
  max-width: 320px;
}
@media (max-width: 753px) {
  .top-footer .container .column p {
    width: 400px;
  }
}
.top-footer .container .column .lists ul li {
  padding: 10px 0;
}
.top-footer .container .column .lists ul li a {
  color: #B9BABC;
  transition: .2s;
}
.top-footer .container .column .lists ul li a:hover {
  color: var(--main-color);
}
.top-footer .container .column .lists ul li a i {
  color: var(--main-color);
  margin-right: 5px;
}
/* Start Top Footer */

/* Start Footer */
footer {
  text-align: center;
  padding: 30px 0;
  background-color: var(--main-background-color);
}
footer .cards {
  margin-bottom: 30px;
}
footer .cards i {
  font-size: 40px;
  padding: 0 3px;
  color: #15161D;
  cursor: pointer;
}
footer span {
  color: #B9BABC;
  font-size: 13px;
  letter-spacing: .4px;
}
footer span span {
  color: #2B2D42;
  transition: .2s;
  cursor: pointer;
}
footer span span:hover {
  color: var(--main-color);
}
/* End Footer */